* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--first-font-color);
    text-decoration: none;
}

:root {
    --font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    --font-size: 11pt;
}

@font-face {
    font-family: OpenSans;
    src: url('./media/fonts/open-sans/OpenSans-Semibold.ttf');
}

@media(prefers-color-scheme: dark) {
    .dynamic-theme {
        --first-background: #393939;
        --second-background: #2b2b2b;
        --third-background: #5b5b5b;
        --shadow-color: #222222;

        --first-green-tone: #2b9852;
        --second-green-tone: #1f723c;
        --first-blue-tone: #5557b3;
        --second-blue-tone: #383996;

        --image-brightness: brightness(0.6);
        --image-opacity: 1.0; 
        --box-shadow: 0 0px 6px 5px #ff0000;
        --invert-color-icon: invert(0.80);
        --background-blend-mode: unset;

        --second-font-color: #ffffff;
        --first-font-color: #fff;
    }
}
@media(prefers-color-scheme: light) {
    .dynamic-theme {
        --first-background: #FFFFFF;
        --second-background: #f0f2f4;
        --third-background: #e2e2e2;
        --shadow-color: #c7c7c7;

        --first-green-tone: #4fb373;
        --second-green-tone: #93d6ab;
        --first-blue-tone: #6466dc;
        --second-blue-tone: #8081cc;

        --image-brightness : brightness(1.0);
        --image-opacity: 0.75;
        --box-shadow : 0 0px 6px 5px #0000001a;
        --invert-color-icon: invert(0.0);
        --background-blend-mode: lighten;

        --second-font-color: #ffffff;
        --first-font-color: #4e4e4e;
    }
}

/* Page Header */

body {
    background-color: var(--first-background);
    width: 100%;
}

nav {
    background-color: var(--first-background);
    padding: 1vh 8vw;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: calc(100% - 16vw);
    box-shadow: 0px 6px 4px 0px var(--shadow-color);
    z-index: 100;
}

a.contact-button {
    font-size: 11pt;
    border-radius: 5px;
    background-color: var(--first-blue-tone);
    padding: 4px 12px;
    border: none;
    cursor: pointer;
    height: calc(100% - 8px);
    display: flex;
    align-items: center;
    column-gap: 10px;
}
a.contact-button:hover {
    filter: brightness(1.25);
}
span.donate-message {
    color: var(--second-font-color);
}
img.contact-img {
    height: 15px;
}

h1 {
    font-size: 16pt;
}

section.page-description {
    text-align: justify;
    line-height: 25px;
    background-color: var(--second-background);
    padding: 4vh 8vw;
    padding-top: calc(4vh + 60px);
    row-gap: 1rem;
    display: grid;
}

/* Page content */

article {
    display: grid;
    justify-content: center;
    row-gap: 2rem;
    margin: auto;
    margin-top: 3rem;
    width: 85vw;
    flex-direction: column;
}

.projects-list {
    display: grid;
    row-gap: 3rem;
}

.card-body {
    overflow: hidden;
    display: flex;
    transition: 0.5s;
    min-height: 50vh;
    border-radius: 0.75rem;
    flex-direction: row-reverse;
    box-shadow: 0 0 10px 0px var(--shadow-color);
}

.card-body:nth-child(even) {
    flex-direction: unset;
}

.card-image {
    padding: 20px;
    display: grid;
    row-gap: 10px;
    user-select: none;
    width: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: var(--image-brightness);
    opacity: var(--image-opacity);
}

.card-details {
    padding: 3rem;
    display: grid;
    row-gap: 1.50rem;
    background: var(--second-background);
    width: 50%;
    align-items: center;
}

.card-title {
    font-size: 22pt;
    display: flex;
    align-items: center;
}

.card-description {
    font-size: var(--font-size);
    font-family: "OpenSans";
    text-align: justify;
    line-height: 25px;
    display: grid;
    row-gap: 0.25rem;
}
.card-description > p > a {
    color: #00aaff;
    text-decoration: underline;
}

.card-tags {
    display: grid;
    row-gap: 1rem;
    font-size: 10pt;
}

.card-tags-content {
    display: flex;
    column-gap: 0.5rem;
}

span.tag {
    color: rgb(255, 255, 255);
    background-color: grey;
    padding: 3px 8px 1px 8px;
    border-radius: 5px;
    display: flex;
}

span[value='JavaScript'] {
    background-color: #c39706;
}
span[value='HTML'] {
    background-color: #d75128;
}
span[value='CSS'] {
    background-color: #0075b3;
}
span[value='C'] {
    background-color: #2751A6;
}
span[value='C++'] {
    background-color: #569ed0;
}
span[value='Objective-C'] {
    background-color: #171717;
}
span[value='Java'] {
    background-color: #ca2a16;
}
span[value='OpenGL'] {
    background-color: #458ab0;
}

span[value='desktops'] {
    background-color: #5666a6;
}
span[value='consoles'] {
    background-color: #966969;
}
span[value='tablets'] {
    background-color: #747d83;
}
span[value='phones'] {
    background-color: #63926f;
}

.card-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    width: 100%;
    padding-top: 1.5rem;
}

.card-button {
    padding: 0px 20px;
    border-radius: 10px;
    min-height: 40px;
    min-width: 80px;
    font-size: 10pt;
    display: flex;
    align-items: center;
    transition: .25s;
    justify-content: center;
    color: var(--second-font-color);
}
.card-button[disabled='true'] {
    background-color: grey !important;
    border: none !important;
    opacity: 0.5;
    pointer-events: none;
}

#live-demo::before {
    content: "▸";
    padding: 0 10px;
    position: relative;
    font-size: 14pt;
    line-height: 0px;
}
#live-demo {
    background-color: var(--first-green-tone);
    border: 5px solid var(--second-green-tone);
}
#live-demo:hover {
    background-color: var(--second-green-tone);;
}

#view-source::before {
    content: "</>";
    padding-right: 10px;
}
#view-source {
    background-color: var(--first-blue-tone);
    border: 5px solid var(--second-blue-tone);;
}
#view-source:hover {
    background-color: var(--second-blue-tone);
}

/* Page Footer */

footer {
    display: flex;
    margin-top: 5rem;
    background-color: var(--first-background);
    flex-direction: column;
}

.footer-list {
    display: grid;
    row-gap: 2rem;
    padding: 3rem 8vw;
    background-color: var(--second-background);
}

li.footer-list-item {
    display: flex;
    column-gap: 15px;
}

a.footer-link {
    display: flex;
    column-gap: 1rem;
    width: 50%;
}
a.footer-link:hover {
    text-decoration: underline;
}

img.footer-icon {
    height: 22px;
    filter: var(--invert-color-icon);
}

span.footer-span {
    opacity: 0.5;
    overflow-wrap: anywhere;
    text-align: end;
    width: 50%;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1rem;
}

figure > img {
    height: 132px;
    width: 132px;
}

figcaption {
    overflow-wrap: anywhere;
}
.bottom-footer {
    display: grid;
    text-align: center;
    padding: 3rem 8vw;
    row-gap: 3rem;
}

.bottom-footer > ul {
    display: grid;
    list-style: none;
    row-gap: 3rem;
}

/* Footer form */

form {
    display: grid;
    row-gap: 1rem;
    margin-top: 0;
}

form > div {
    display: grid;
    row-gap: 0.5rem;
}
form > div:last-child {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

input, textarea {
    background-color: var(--first-background);
    border: none;
    border-radius: 10px;
    padding: 1rem;
    width: 50vw;
    resize: none;
}

input[type='submit'] {
    width: fit-content;
    background-color: var(--first-blue-tone);
    padding: 0.75rem;
    cursor: pointer;
}
input[type='submit']:hover {
    opacity: 0.75;
}

.form-email-warning {
    opacity: 0.5;
    font-size: 10pt;
}

@media(max-width: 1280px) {
    .projects-list {
        width: 100%;
    }
}

/* Mobile rules ============================================================ */

@media(max-width: 768px) {

    /* Page Header */

    nav {
        padding: 1vh 4vw;
        width: calc(100% - 8vw);
    }

    button.contact-button {
        border-radius: 0.75rem;
    }

    img.contact-img {
        display: none;
    }

    article {
        width : 96vw;
    }

    /* Page Contents */

    .card-body {
        flex-direction: column;
    }
    .card-body:nth-child(even) {
        flex-direction: column;
    }

    .card-image {
        width: auto;
        height: 33vh;
        padding: 0;
    }

    .card-details {
        width: inherit;
        padding: 1rem;
        display: flex;
        row-gap: 2rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .card-tags {
        justify-content: center;
    }

    .footer-list {
        padding: 3rem 4vw;
    }

    figure {
        align-items: center;
        margin-top: 3rem;
    }

    /* Page Footer */

    .bottom-footer {
        padding: 3rem 4vw;
    }

    span.footer-span {
        display: none;
    }

    a.footer-link {
        width: max-content;
    }

    /* Footer form */

    input, textarea {
        width: auto;
    }
}