/*
 * PaintSpace ver. 3.0
 * Created By: Anderson Bucchianico
 *       Date: 20/feb/2021
*/

comp-canvascontainer {
    height: calc(100% - 60px);
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-wrapper {
    display: flex;
}

.resize {
    display: unset;
    background-color: #555;
    position: absolute;
    border-radius: 0px 0px 5px 0px;
}

#resize-width {
    width: 5px;
    height: 0px;
    cursor: ew-resize;
}

#resize-height {
    width: 0px;
    height: 5px;
    cursor: ns-resize;
}

#resolution-viewer {
    display: none;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% + 40px);
    width: 100px;
    height: 18px;
    text-align: center;
    color: #fff;
    font-size: 12pt;
    font-weight: 400;
    text-shadow: 0 0 10px #000;
}
