/*
 * PaintSpace3
 * Created By: Anderson Bucchianico
 * Date: 30/jan/2021
*/

:root {
    /* Default theme */
    --global-background-color : #eee;
    --global-font-color: transparent;
    --header-background: linear-gradient(#fff,#fff);
    --global-shadow: #999;
    --title: linear-gradient(45deg,#383838,#414141);
    --left-toolbox: linear-gradient(#fff,#fff);
    --tool-item-background: linear-gradient(45deg,#cfcfcf,#f2f2f2);
    --program-button-item: #eee;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: var(--global-font-color);
    user-select: none;
}

@font-face {
    font-family: Lily; src: url('../Media/font/LilyScriptOne-Regular.ttf');
}
@font-face {
    font-family: OpenSans; src: url('../Media/font/OpenSans-Semibold.ttf');
}

html {
    height: 100%;
}

body {
    background-color: var(--global-background-color);
    height: inherit;
    overflow: hidden;
}

object {
    pointer-events: none;
}

svg {
    fill : #0f0;
}

/* END Global Config ======================================================== */
/* START Header ============================================================= */

header.container {
    display: flex;
    height: 80px;
    background-image: var(--header-background);
    box-shadow: var(--global-shadow);
    flex-wrap: wrap;
}

nav.menubar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    height: inherit;
    width: calc(100% - 200px);
    flex-wrap: wrap;
}

h1.title {
    width: fit-content;
    font-size: 20px;
    font-family: Lily;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    font-weight: normal;
    background-clip: unset;
    -moz-background-clip: unset;
    -webkit-background-clip: text;
    color: transparent;
    background-image: var(--title);
}

hr.separator {
    width: 100%;
}

.tool-options:first-child {
    justify-content: center;
}
.tool-options {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 16px;
    padding: 0px 10px;
}

button.menu-item {
    height: 15px;
    width: max-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    padding: 0px 12px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 800;
    min-width: 100px;
    background-color: var(--program-button-item);
}

button.menu-item#zoom {
    display: none;
}

.screen-container {
    width: 100%;
    height: calc(100% - 60px);
}

.global-tool-container {
    display: flex;
    column-gap: 20px;
}

.tooloption-container {
    display: flex;
    align-items: center;
    height: 20px;
    min-width: 100px;
    font-family: Arial;
    font-weight: bold;
}

.tooloption-container > label {
    font-size: 9pt;
}

.tooloption {
    width: 72px;
    height: 20px;
    margin: 5px 5px;
    color: var(--tool-option-color);
    background-color: var(--tool-option-background);
    border: none;
    border-radius: 5px;
    display: flex;
    text-align: end;
}